@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Kumbh+Sans:wght@400;700&family=Rubik+Burned&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Kumbh+Sans:wght@400;700&family=Poppins:wght@400;500;600;800&family=Rubik+Burned&display=swap');

/* Variables */
:root {
    --main-color: #e02f6b;
    --blue: #0000ff;
    --blue-dark: #18293c;
    --orange: #ffa500;
    --green-yello: #cddc39;
    --pink-light: #f8f4f4;
    --cyan-light: #c9f2f6;
    --white: #ffffff;
    --white-alpha-40: rgba(255, 255, 255, 0.40);
    --white-alpha-25: rgba(255, 255, 255, 0.25);
    --backdrop-filter-blur: blur(5px);
    --primary-color: #111;
    --hovered-color: #c84747;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

::before,
::after {
    box-sizing: border-box;
}

body.hide-scrolling{
    overflow-y: hidden;
}
body {
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(255, 189, 251, 0.4) 3%, rgb(157, 206, 255) 38%, rgb(136, 255, 247) 68%, rgb(255, 255, 255) 98%);
    animation: gradient 30s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    font-size: 16px;
    color: var(--blue-dark);
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    padding: 5vh 15px;

}

body::before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: var(--green-yello);
    z-index: -1;
    opacity: 0.12;
}

section {
    background-color: var(--white-alpha-25);
    border-radius: 30px;
    min-height: 90vh;
    border: 1px solid var(--white-alpha-40);
    margin-bottom: 20px;
}

.main {
    max-width: 1200px;
    margin: auto;
    transition: all 0.5s ease-in-out;
}

.main.fade-main{
    opacity: 0;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.container {
    padding: 0 40px;
    width: 100%;
}
ul{
    list-style: none;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.centerProperty {
    align-items: center;
}

.hidden {
    display: none !important;
}

.section-padding {
    padding: 80px 0;
}

.section-title {
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.section-title h2 {
    font-size: 40px;
    text-transform: capitalize;
    font-family: 'Rubik Burned';
}

a {
    text-decoration: none;

}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--white);
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

/* Buttons */

button {
    font-family: inherit;
    user-select: none;
}

.btn,
.btn2 {
    position: relative;
    font-weight: 400;
    font-size: 10px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(100, 100, 100, 0.37);
    background: none;
    cursor: pointer;
    line-height: 1.5;
    padding: 5px 30px;
    box-shadow: 10px 10px;
}



.btn a,
.btn2 a {
    margin: 0;
    position: relative;
    font-size: 15px;
    color: var(--primary-color);
    color: rgba(46, 46, 39, 0.715);
}

.btn::after,
.btn2::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    transition: 0.3s ease-out;
}

.btn a::before {
    position: absolute;
    content: "Portfolio";
    width: 0%;
    /* inset: 0; */
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
    /* font-family: "Poppins" , sans-serif; */
}

.btn2 a::before {
    position: absolute;
    content: "About";
    width: 0%;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
    /* font-family: "Poppins" , sans-serif; */
}


.btn:hover::after,
.btn2:hover::after {
    width: 100%;
}

.btn:hover a::before,
.btn2:hover a::before {
    width: 100%;
}



/* home Section */


.home-img,
.home-text {
    width: 50%;
    padding: 15px;
}

.home-img .img-box {
    max-width: 360px;
    background-color: var(--white-alpha-25);
    border-radius: 50%;
    border: 5px solid var(--white-alpha-25);
    margin: auto;
    box-shadow: 10px 10px 51px rgb(100, 100, 100);
}

.home-section {
    display: flex;
    padding: 120px 0;
}

.home-img .img-box img {
    width: 100%;
    border-radius: 50%;
}

.home-text p {
    font-size: 18px;
    font-family: 'Rubik Burned';
    font-weight: bolder;
}

.home-text h1 {
    font-size: 60px;
    text-transform: capitalize;
    font-family: 'Rubik Burned';
}

h1,
h2 {
    font-weight: 600;
}

h3,
h4,
h5,
h6 {
    font-weight: 500;
}

.home-text h2 {
    font-size: 20px;
    text-transform: capitalize;
    font-family: 'Rubik Burned';
    font-weight: bolder;
}

.home-text button {
    margin: 0 15px 15px 0;
}

/* About Section */

.imgPic {
    border-radius: 15%;
}

.about-img {
    width: 40%;
    padding: 0 15px;
}

.about-text {

    width: 60%;
    padding: 0 15px;
}

.about-img .img-box {
    background-color: var(--white-alpha-25);
    max-width: 380px;
    border: 1px solid var(--white-alpha-40);
    margin: auto;
    border-radius: 15%;
    box-shadow: 10px 10px 10px rgba(46, 46, 39, 0.715);
}

.about-img .img-box img {
    width: 100%;
}

.about-text h3 {
    text-transform: capitalize;
    font-size: 20px;
    margin: 20px 0;
}

.about-text .skills {
    display: flex;
    flex-wrap: wrap;
}

.about-text .skill-item {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 5px 15px;
    text-transform: capitalize;
    margin: 0 10px 10px 0;
    border-radius: 20px;
}

.about-tabs {
    margin-top: 20px;
}

.about-tabs .tab-item {
    padding: 2px 0;
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    display: inline-block;
    color: var(--blue-dark);
    font-size: 20px;
    cursor: pointer;
    font-family: 'Poppins';
    font-weight: 500;
    margin: 0 30px 0 0;
    position: relative;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.about-tabs .tab-item:last-child {
    margin: 0;
}

.about-tabs .tab-item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background-color: var(--blue-dark);
    transition: width 0.3s ease;
}

.about-tabs .tab-item:hover::before {
    width: 100%;
}

.about-tabs .tab-item.active::before {
    width: 100%;
    background-color: var(--main-color);

}

.about-tabs .tab-item.active {
    color: var(--main-color);
    opacity: 1;
    cursor: auto;
}

.about-text .timeline {
    position: relative;
}

.about-text .timeline::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    top: 0;
    left: 5px;
    background-color: var(--main-color);
}

.about-text .tab-content {
    padding: 40px 0;
    display: none;
}

.about-text .tab-content.active {
    display: block;
}

.about-text .timeline-item {
    margin-bottom: 30px;
    position: relative;
    padding: 10px 0 0 40px;
}

.about-text .timeline-item::before {
    content: '';
    position: absolute;
    background-color: var(--main-color);
    left: 0;
    width: 10px;
    height: 10px;
    top: 16px;
    border-radius: 50%;

}

.about-text .timeline-item:last-child {
    margin-bottom: 0;
}

.about-text .timeline-item .date {
    display: block;
    color: var(--main-color);
    font-weight: bolder;
    font-family: 'Rubik Burned';
    margin: 0 0 10px;
}

.about-text .timeline-item h4 {
    font-size: 18px;
    text-transform: capitalize;
    padding: 0 0 10px;
    font-family: 'Poppins';
}

.about-text .timeline-item h4 span {
    font-weight: 400;
}

/* About Section Button  */

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    transition: all .15s ease;
}

.button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
}

.button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
}

.button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #ff4655;
    transform: skew(-15deg);
    transition: all .2s ease;
}

.button_text {
    position: relative;
}

.button:hover {
    color: #0f1923;
}

.button:hover .button_sl {
    width: calc(100% + 15px);
}

.button:hover .button_lg::after {
    background-color: #fff;
}

/* CSS */
.web-visit-btn{
  align-items: center;
  background-color: #ffffff19;
  border: 1px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 30px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}



.web-visit-btn:hover {
  border-color: var(--main-color);
  color: var(--main-color);
  fill: var(--main-color);
}


@media (min-width: 768px) {
  .web-visit-btn {
    min-width: 170px;
  }
}

/* Portfolio */

.portfolio-item {
    width: calc((100% /3) - 30px);
    margin: 0 15px 25px;
}

.porfolio-thumbnail {
    padding: 10px;
    background-color: rgba(100, 100, 100, .1);
    border: 1px solid var(--white-alpha-40);
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(100, 100, 100, .4);
}

.porfolio-thumbnail img {
    width: 100%;
    border-radius: 5px;

}

.portfolio-item-detail {
    display: none;
}

.portfolio-item h3 {
    font-size: 20px;
    text-transform: capitalize;
    margin: 20px 0;
}

.profile-section {
    margin-bottom: 50px;
}


/* pop up */


.portfolio-detail-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 200;
    visibility: hidden;
}
.portfolio-detail-popup.open{
    visibility: visible;
    overflow-y: auto;
}

.popup-inner{
    min-height: 100vh;
    padding: 40px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.popup-content{
    background-color: var(--white-alpha-40);
    padding: 30px;
    border-radius: 30px;
    max-width: 900px;
    width: 100%;
    border: 1px solid var(--white-alpha-40);
    box-shadow: 10px 10px 20px rgba(100, 100, 100, .5);
    backdrop-filter: var(--backdrop-filter-blur);
    opacity: 0;
    transform: scale(0.9);
}

.portfolio-detail-popup.open .popup-content{
    opacity: 1;
    transform: scale(1);
    transition: all 0.5s ease;
}

.popup-header{
    position: relative;
}

.popup-header .btn{
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 2px 3px 10px rgba(100, 100, 100, .3);
    position: absolute;
    right: -40px;
    top: -40px;
    background-color: rgba(255, 255, 255, .4);
    border: var(--white-alpha-40);
}

.popup-thunbnail img{
    border-radius: 10px;
}

.popup-header h3{
    color: var(--blue-dark);
    font-size: 25px;
    text-transform: capitalize;
    margin: 20px 0 15px;
}

.popup-body .description{
    margin-bottom: 20px;
}

.popup-body .general-info li{
    margin-bottom: 10px;
    font-weight: 500;
    text-transform: capitalize;

}

.popup-body .general-info li span{
    font-weight: 300;
}

.popup-body .general-info li a {
    color: var(--main-color);
}
/* Background Part */

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}